{% extends "crm/base.html" %}
{% block title %}{% if form.instance.pk %}Adresse bearbeiten{% else %}Adresse anlegen{% endif %}{% endblock %}
{% block content %}
  <form method="post" class="card">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="grid">
      <div class="col-6">
        <label for="id_type">Typ</label>
        {{ form.type }}
      </div>
      <div class="col-6">
        <label for="id_name">Name</label>
        {{ form.name }}
      </div>
      <div class="col-6">
        <label for="id_address_line1">Straße & Nr.</label>
        {{ form.address_line1 }}
      </div>
      <div class="col-6">
        <label for="id_address_line2">Adresszusatz</label>
        {{ form.address_line2 }}
      </div>
      <div class="col-3">
        <label for="id_postal_code">PLZ</label>
        {{ form.postal_code }}
      </div>
      <div class="col-5">
        <label for="id_city">Ort</label>
        {{ form.city }}
      </div>
      <div class="col-4">
        <label for="id_country">Land</label>
        {{ form.country }}
      </div>
      <div class="col-4">
        <label for="id_phone">Telefon</label>
        {{ form.phone }}
      </div>
      <div class="col-4">
        <label for="id_email">E-Mail</label>
        {{ form.email }}
      </div>
      <div class="col-4">
        <label for="id_vat_id">USt-IdNr.</label>
        {{ form.vat_id }}
      </div>
      <div class="col-12">
        <label for="id_notes">Notizen</label>
        {{ form.notes }}
      </div>
    </div>
    <div style="margin-top: .8rem">
      <button class="btn btn-primary" type="submit">Speichern</button>
      <a class="btn" href="{% if form.instance.pk %}{% url 'crm:address-detail' form.instance.pk %}{% else %}{% url 'crm:address-list' %}{% endif %}">Abbrechen</a>
    </div>
  </form>
{% endblock %}
